{% set cinder=salt["grains.filter_by"]({
  "Debian":{
    "name": "cinder",
    "server_pkgs": ["cinder-api", "cinder-scheduler", "cinder-backup"],
    "server_services": ["cinder-api", "cinder-scheduler", "cinder-backup"],
    "client_pkg": "python-cinderclient",
    "cinder_volume": "cinder-volume",
    "cinder_volume_service": "cinder-volume",
  },
  "RedHat":{
    "name": "cinder",
    "server_pkgs": ["openstack-cinder"],
    "server_services": ["openstack-cinder-api", "openstack-cinder-scheduler", "openstack-cinder-backup"],
    "client_pkg": "python-cinderclient",
    "cinder_volume": "openstack-cinder",
    "cinder_volume_service": "openstack-cinder-volume",
  },
  "default":{
    "name": "cinder",
    "server_pkgs": ["cinder-api", "cinder-scheduler", "cinder-backup"],
    "server_services": ["cinder-api", "cinder-scheduler", "cinder-backup"],
    "client_pkg": "python-cinderclient",
    "cinder_volume": "cinder-volume",
    "cinder_volume_service": "cinder-volume",
  }
  }, merge=salt["pillar.get"]("cinder:lookup")) %}
{#- vim:ft=sls
-#}
