cinder:
  public_ip: 10.0.0.12
  internal_ip: 10.0.0.12
  admin_ip: 10.0.0.12
  mysql:
    ip: 10.0.0.12
    password: 'pass'
    host: '%'
  keystone:
    password: 'pass'
    email: zhang.lei.fly@gmail.com
    host: 10.0.0.12
  rabbitmq:
    name: openstack
    password: pass
    ip: 10.0.0.12
  conf: {}


{#- vim:ft=sls
-#}
